@import url(https://fonts.googleapis.com/css?family=Raleway:300);

a:hover {
	text-decoration: none;
}

#navbarTop div ul li a span {
	font-size: 15px;
	margin-right: 3px;
}

body {
	padding-top: 50px;
}

.menu-left {
	position: fixed;
	width: 15%;
	top: 53px;
}
.menu-left li a {
	padding-left: 20% !important;
	min-width: 110px;
}

.info-menu li a {
	color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 767px) {
	body {
		padding-top: 79px;
	}
	.mob-menu {
		display: block;
		position: fixed;
		top: 50px;
		opacity: 0.95;
		background: #f9f9f9;
		width: 100%;
		height: 30px;
		overflow: hidden;
	}
	.mob-menu ul {
		height: 30px;
		white-space: nowrap;
		padding-left: 30px;
		/*
		-webkit-user-select: none;
		/**/
	} 
	.mob-menu ul li {
		display: inline-block;
		text-align: center;
		margin-right: 8%;
	}
	.mob-menu div {
		width: 100%;
		height: 60px;
		overflow: auto;
	}
	.mob-menu ul li a {
		font: 18px/30px "Raleway", sans-serif;
		color: #aae;
	}
	.info-menu {
		position: fixed;
		right: 30px;
		top: 80px;
		padding: 3px;
		background: rgba(177, 190, 255, 0.95);
	}
	.info-menu li a {
		padding-left: 30px;
		padding-right: 30px;
	}
}

#navbarTop {
	background: rgba(177, 190, 255, 0.7);
}

.navbar-brand {
	color: black;
}

.icon-bar {
	background: red;
}

.content {
	position: relative;
	z-index: -1;
	background: #FCEDEF
}


/*
@import url(https://fonts.googleapis.com/css?family=Raleway:300);

a:hover {
	text-decoration: none;
}

#navbarTop div ul li a span {
	font-size: 15px;
	margin-right: 3px;
}

.mob-menu {
	display: none;
}

body {
	padding-top: 50px;
}

#menu-left {
	position: fixed;
	width: 15%;
	top: 53px;
}

.info-menu li a {
	color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 767px) {
	body {
		padding-top: 79px;
	}
	.mob-menu {
		display: block;
		position: fixed;
		top: 50px;
		opacity: 0.95;
		background: #f9f9f9;
		width: 100%;
		height: 30px;
		overflow: hidden;
	}
	.mob-menu ul {
		height: 30px;
		white-space: nowrap;
		padding-left: 30px;
		/*
		-webkit-user-select: none;
		/**//*
	} 
	.mob-menu ul li {
		display: inline-block;
		text-align: center;
		margin-right: 8%;
	}
	.mob-menu div {
		width: 100%;
		height: 60px;
		overflow: auto;
	}
	.mob-menu ul li a {
		font: 18px/30px "Raleway", sans-serif;
		color: #aae;
	}
	#menu-left {
		display: none;
	}
	.info-menu {
		position: fixed;
		right: 30px;
		top: 80px;
		padding: 3px;
		background: rgba(177, 190, 255, 0.95);
	}
	.info-menu li a {
		padding-left: 30px;
		padding-right: 30px;
	}
}

#navbarTop {
	background: rgba(177, 190, 255, 0.7);
}

.navbar-brand {
	color: black;
}

.icon-bar {
	background: red;
}

.offset_a {
	padding-left: 20% !important;
	min-width: 110px;
}

.content {
	position: relative;
	z-index: -1;
	background: #FCEDEF
}
*/