/*mob*/
@media (min-width: 0px){
	#menu-left {
		position: fixed;
		top: 50px;
		right: -15px;
	}
	.affix {
		top: 50px;
		right: 0px;
	}
}

/*desc*/
@media (min-width: 768px) {
	#menu-left {
		position: absolute;
		padding-top: 75px;
		left: 90px;
	}

	.affix {
		top: 50px;
		left: 105px;
	}
}

body {
	padding-top: 50px;
}

#navbarTop {
	background: #B1BEFF;
	opacity: 0.7;
}

.navbar-brand {
	color: black;
}

.icon-bar {
	background: red;
}