@import url(https://fonts.googleapis.com/css?family=Raleway:300);

body {
	background: #fbfaff;
}

.img-responsive {
	min-width: 100%;
}

.devider {
	text-align: center;
	border-top: 1px solid #d3cdf7;
	margin-bottom: 20px;
}

blockquote {
	margin-top: 10px;
	margin-bottom: 30px;
}

a:hover {
	text-decoration: none;
}

#navbarTop div ul li a span {
	font-size: 15px;
	margin-right: 3px;
}

body {
	padding-top: 50px;
}

#menu li img {
	width: 18px;
	height: 18px;
	margin-right: 3px;
}

.menu-left {
	position: fixed;
	border: 5px solid #f1f1f1;
	background: #faf5f7;
	margin-left: 2%;
	margin-top: 5px;
	width: 21%;
}

.menu-left ul {
	list-style: none;
	padding-left: 20px;
	padding-right: 20px;
}

.menu-left li {
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 10px;
	padding-top: 15px;
	padding-left: 10%;
}

.menu-left li:last-child {
	border-bottom: none;
	padding-bottom: 0px;
}

.menu-left a {
	display: block;
	transition: all 0.3s ease-out;
	color: #616a6b;
	font-size: 16px;
}
.menu-left a:hover {
	font-size: 22px;
	color: #67a5cd;
	padding: 7px 0px 7px 10%;
	background: #eaeaea;
	border-radius: 3px;
}
@media (max-width: 991px){
	.menu-left a:hover {
		padding: 7px 0px 7px 12px;
		font-size: 17px;
	}
	.menu-left {
		margin-left: 1%;
		margin-top: 5px;
		width: 23%;
	}
}

.info-menu li a {
	color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 767px) {
	body {
		padding-top: 79px;
	}
	.mob-menu {
		display: block;
		position: fixed;
		top: 50px;
		opacity: 0.95;
		background: #f9f9f9;
		width: 100%;
		height: 30px;
		overflow: hidden;
	}
	.mob-menu ul {
		height: 30px;
		white-space: nowrap;
		padding-left: 30px;
		/*
		-webkit-user-select: none;
		/**/
	} 
	.mob-menu ul li {
		display: inline-block;
		text-align: center;
		margin-right: 8%;
	}
	.mob-menu div {
		width: 100%;
		height: 60px;
		overflow: auto;
	}
	.mob-menu ul li a {
		font: 18px/30px "Raleway", sans-serif;
		color: #aae;
	}
	.info-menu {
		position: fixed;
		right: 30px;
		top: 80px;
		padding: 3px;
		background: rgba(177, 190, 255, 0.95);
	}
	.info-menu li a {
		padding-left: 30px;
		padding-right: 30px;
	}
}

#navbarTop {
	background: rgba(177, 190, 255, 0.7);
}

.navbar-brand {
	color: black;
}

.icon-bar {
	background: red;
}

.content {
	position: relative;
	z-index: -1;
	background: #fcf7f7;
}